Inventory/IncreaseStockSQLService.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://SQLInventory" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <msbtssql:sqlScript value="exec [IncreaseStock] @category=&quot;Hard Disk&quot;, @option=&quot;128 GB&quot;" xmlns:msbtssql="http://schemas.microsoft.com/BizTalk/2003" />
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="InComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IncreaseStock">
          <xs:complexType>
            <xs:attribute name="category" type="xs:string" />
            <xs:attribute name="option" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutOperationResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Success" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>